.local-my-area-availables {
    text-align: left;
}

#mydashboard .generaltable td {
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    background-color: #fff;
}

.right-button {
    text-align: right;
}

.local-my-overcount {
    text-align: right;
}

#my-dashboard-left {
    border-right: 20px transparent solid;
}

table#my-dashboard {
    border-collapse: separate;
    border-spacing: 0;
}

table#mycourseareas {
    border-collapse: separate;
    border-spacing: 15px;
}

#my-me {
    font-size: 0.85em;
    margin: 10px 0;
}

#my-me th,
#my-me td {
    border: 3px solid white;
    padding: 2px;
}

.my-label {
    background-color: #eee;
    color: #23a7c1;
    font-size: 0.9em;
}

@media all and (max-width: 1200px) {
    #my-dashboard-left,
    #my-dashboard-right {
        display: inline !important;
    }
}

.course_list .collapsibleregioncaption {
    white-space: normal !important;
}

.courseinfo .courselink {
    background-image: url([[pix:moodle|i/course]]);
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
    font-size: 1.1em;
    letter-spacing: 0.2px;
    padding-left: 21px;
    padding-top: 3px;
}

.course-creation-buttons * {
    display: inline;
}

.local-my-userprofilebox {
    margin-bottom: 10px;
}

.local-my-statictext {
    margin-bottom: 15px;
}

.local-my-statictext .tinytext {
    font-size: 80%;
}

.local-my-statictext.adminview {
    -moz-border-radius: 5px;
    -moz-opacity: 0.5;
    margin-bottom: 15px;
    border: dashed 1px #888;
    border-radius: 5px;
    opacity: 0.5;
}

.local-my-statictext.editing {
    margin-bottom: 15px;
    border: dashed 1px #888;
    border-radius: 5px;
}

.local-my-hide {
    display: none;
}

div.course-box {
    background-color: #f0f0f0;
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
    max-height: 180px;
    max-width: 20%;
    min-height: 180px;
    min-width: 20%;
}

div.course-box .summary {
    background-color: #f8f8f8;
    height: 115px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    overflow: hidden;
    padding: 8px;
}

div.course-box .courseimage {
    background-color: #f8f8f8;
    height: 115px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px;
}

div.course-box .courseimage img {
    max-height: 110px;
}

.local-my-fp-coursename {
    width: 100%;
}

.local-my-fp-coursename a img,
.local-my-fp-coursethumb a img {
    height: 150px !important;
    width:fit-content;
    width:-moz-fit-content;
    width:-webkit-fit-content;
    max-width:100%;
    margin:auto;
}

.local-my-fp-coursename.width50 a img,
.local-my-fp-coursethumb.width50 a img {
    height: 120px !important;
    width:initial;
    margin:auto;
}

div.course-box .title {
    padding: 8px 5px 5px 8px;
}

.courselist {
    line-height:30px;
}

.local-my-promowrap {
    background-color: #f0f0f0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.4);
    margin: 10px;
    display: inline-block;
    float: none;
    vertical-align: bottom;
    min-height: 250px !important;
    max-width: 320px;
}

.local-my-promowrap h3 {
    font-size: 1.3rem;
}

.local-my-fp-coursethumb {
  width: 100%;
  padding-right: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 5px;
}

/*
.local-my-fp-coursename {
    text-align: center;
}
*/

.local-my-fp-courseinfo {
    text-align: center;
    padding: 5px;
    clear: both;
}

.local-my-fp-coursebox {
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 350px;
    height: 400px;
    max-height: 400px;
    min-height: 400px;
}

@media (max-width: 900px) {
    .local-my-fp-summary {
        display: none;
        height: auto;
        text-align: left;
    }
}

.local-my-fp-summary {
    text-align: left;
    max-width: 450px;
    margin: auto;
    padding: 8px;
}

#my-dashboard-right.span12 {
    float: none;
}

.courselist .course {
    padding: 10px;
}

#mycourseareas td {
    padding: 8px;
}

.local-my-course.collapsed {
    display: none;
    visibility: hidden;
}

#mydashboard .generaltable td {
    border: none;
}

#mydashboard .generaltable td.course-category {
    border-bottom: 1px #e3e3e3 solid;
}

/*
 * Component: Info Box
 * -------------------
 */
.info-box {
    display: block;
    width: 100%;
    min-height: 55px;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(95, 95, 95, .5);
}

.info-box small {
    font-size: 14px;
}

.info-box .progress {
    height: 2px;
    margin: 5px -10px 5px -10px;
    background: rgba(0, 0, 0, .2);
}

.info-box .progress,
.info-box .progress .progress-bar {
    border-radius: 0;
}

.info-box .progress .progress-bar {
    background: #fff;
}

.info-box-icon {
    display: block;
    float: left;
    width: 60px;
    height: 55px;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    background: rgba(0, 0, 0, .2);
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    padding-top:5px;
}

.info-box-icon > img {
    max-width: 100%;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-number {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.progress-description,
.info-box-text {
    display: block;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-box-text {
    text-transform: uppercase;
}

.info-box-more {
    display: block;
}

.progress-description {
    margin: 0;
}

.text-red {
    color: #dd4b39 !important;
}

.text-yellow {
    color: #f39c12 !important;
}

.text-aqua {
    color: #00c0ef !important;
}

.text-blue {
    color: #0073b7 !important;
}

.text-black {
    color: #111 !important;
}

.text-light-blue {
    color: #3c8dbc !important;
}

.text-green {
    color: #00a65a !important;
}

.text-gray {
    color: #d2d6de !important;
}

.text-navy {
    color: #001f3f !important;
}

.text-teal {
    color: #39cccc !important;
}

.text-olive {
    color: #3d9970 !important;
}

.text-lime {
    color: #01ff70 !important;
}

.text-orange {
    color: #ff851b !important;
}

.text-fuchsia {
    color: #f012be !important;
}

.text-purple {
    color: #605ca8 !important;
}

.text-maroon {
    color: #d81b60 !important;
}

.my-modules.network table tr td:first-child {
    max-width: 40px;
}

.local-my-area-ctls {
    font-size: 85%;
    cursor: pointer;
}

.local-my-cat-collapse {
    cursor: pointer;
}

.local-my-progress {
    float: right;
    padding-left: 10px;
}

.editing-icon img {
    width: 20px;
    height: 20px;
}

.local-my-course-id:after {
    content: '] ';
}

.local-my-course-id:before {
    content: '[';
}

@media all and (min-width: 1200px) {
    .course-grid {
        display: grid;
        grid-template-columns : 25% 25% 25% auto;
        grid-row-gap: 20px;
    }
}

@media all and (min-width: 985px) and (max-width: 1200px) {
    .course-grid {
        display: grid;
        grid-template-columns : 33% 33% auto;
        grid-row-gap: 20px;
    }
}

@media all and (min-width: 712px) and (max-width: 985px) {
    .course-grid {
        display: grid;
        grid-template-columns : 50% auto;
        grid-row-gap: 20px;
    }
}

@media all and (max-width: 712px) {
    .course-grid {
        display: grid;
        grid-template-columns : 100%;
        grid-row-gap: 20px;
    }
}

#mydashboard .jqplot-grid-canvas {
    display: none;
}

#mydashboard .jqplot-donut-series.jqplot-data-label {
    background-color: white;
    opacity:0.6;
    -moz-opacity:0.6;
}

/* Some effects on boxes */

.local-my-fp-coursename.with-opacity-effect {
    background: #f8f8f8;
}

.local-my-fp-coursename.with-opacity-effect a img {
    opacity: .5;
    -webkit-transition: .1s ease-out;
    transition: .1s ease-out;
}

.local-my-fp-coursename.with-opacity-effect a:hover img {
    opacity: 1;
}

/* Halo effect */
/* Halo lumineux */
.local-my-fp-coursename.with-halo-effect {
    position: relative;
}

.local-my-fp-coursename.with-halo-effect::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255,255,255,.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.local-my-fp-coursename.with-halo-effect:hover::before {
    -webkit-animation: local-my-circle .75s;
    animation: local-my-circle .75s;
}

@-webkit-keyframes local-my-circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes local-my-circle {
    0% {
        opacity: 1;
    }
        40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.local-my-fp-attributes {
    margin: auto;
}

.local-my-fp-attributes img {
    display: inline !important;
}

/* hide progression when empty */
.progress-chart-container .no-progress {
    display: none;
}

/* adjust progress donut location */

.local-my-course-mycourses.local-my-course {
    height: 38px;
}

/* Progress chart forthported from m35 */

.progress-chart-container {
    height: 70px;
    width: 70px;
    top: 300px;
    position: relative;
    left: 30px;
}

.progress-chart-container .progress-doughnut {
  position: relative;
  height: 70px;
  width: 70px;
  background-clip: padding-box;
  border: 15px solid #eee;
  border-radius: 50%;
  box-sizing: border-box;
}
.progress-chart-container .progress-doughnut .progress-text {
  position: absolute;
  top: 50%;
  /*rtl:ignore*/
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
}
.progress-chart-container .progress-doughnut .progress-text.has-percent {
  color: #f89406;
}
.progress-chart-container .progress-doughnut .progress-indicator {
  position: absolute;
  top: -15px;
  left: -15px;
  height: 70px;
  width: 70px;
}
.progress-chart-container .progress-doughnut .progress-indicator svg {
  position: relative;
  height: 100%;
  width: 100%;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle {
  stroke-width: 15px;
  stroke: #f89406;
  fill: none;
  stroke-dasharray: 173;
  stroke-dashoffset: 173;
  transform: rotate(-90deg);
  transform-origin: center center;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-1 {
  stroke-dashoffset: 171.27;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-2 {
  stroke-dashoffset: 169.54;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-3 {
  stroke-dashoffset: 167.81;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-4 {
  stroke-dashoffset: 166.08;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-5 {
  stroke-dashoffset: 164.35;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-6 {
  stroke-dashoffset: 162.62;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-7 {
  stroke-dashoffset: 160.89;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-8 {
  stroke-dashoffset: 159.16;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-9 {
  stroke-dashoffset: 157.43;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-10 {
  stroke-dashoffset: 155.7;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-11 {
  stroke-dashoffset: 153.97;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-12 {
  stroke-dashoffset: 152.24;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-13 {
  stroke-dashoffset: 150.51;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-14 {
  stroke-dashoffset: 148.78;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-15 {
  stroke-dashoffset: 147.05;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-16 {
  stroke-dashoffset: 145.32;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-17 {
  stroke-dashoffset: 143.59;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-18 {
  stroke-dashoffset: 141.86;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-19 {
  stroke-dashoffset: 140.13;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-20 {
  stroke-dashoffset: 138.4;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-21 {
  stroke-dashoffset: 136.67;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-22 {
  stroke-dashoffset: 134.94;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-23 {
  stroke-dashoffset: 133.21;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-24 {
  stroke-dashoffset: 131.48;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-25 {
  stroke-dashoffset: 129.75;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-26 {
  stroke-dashoffset: 128.02;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-27 {
  stroke-dashoffset: 126.29;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-28 {
  stroke-dashoffset: 124.56;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-29 {
  stroke-dashoffset: 122.83;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-30 {
  stroke-dashoffset: 121.1;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-31 {
  stroke-dashoffset: 119.37;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-32 {
  stroke-dashoffset: 117.64;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-33 {
  stroke-dashoffset: 115.91;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-34 {
  stroke-dashoffset: 114.18;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-35 {
  stroke-dashoffset: 112.45;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-36 {
  stroke-dashoffset: 110.72;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-37 {
  stroke-dashoffset: 108.99;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-38 {
  stroke-dashoffset: 107.26;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-39 {
  stroke-dashoffset: 105.53;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-40 {
  stroke-dashoffset: 103.8;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-41 {
  stroke-dashoffset: 102.07;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-42 {
  stroke-dashoffset: 100.34;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-43 {
  stroke-dashoffset: 98.61;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-44 {
  stroke-dashoffset: 96.88;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-45 {
  stroke-dashoffset: 95.15;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-46 {
  stroke-dashoffset: 93.42;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-47 {
  stroke-dashoffset: 91.69;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-48 {
  stroke-dashoffset: 89.96;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-49 {
  stroke-dashoffset: 88.23;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-50 {
  stroke-dashoffset: 86.5;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-51 {
  stroke-dashoffset: 84.77;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-52 {
  stroke-dashoffset: 83.04;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-53 {
  stroke-dashoffset: 81.31;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-54 {
  stroke-dashoffset: 79.58;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-55 {
  stroke-dashoffset: 77.85;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-56 {
  stroke-dashoffset: 76.12;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-57 {
  stroke-dashoffset: 74.39;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-58 {
  stroke-dashoffset: 72.66;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-59 {
  stroke-dashoffset: 70.93;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-60 {
  stroke-dashoffset: 69.2;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-61 {
  stroke-dashoffset: 67.47;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-62 {
  stroke-dashoffset: 65.74;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-63 {
  stroke-dashoffset: 64.01;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-64 {
  stroke-dashoffset: 62.28;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-65 {
  stroke-dashoffset: 60.55;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-66 {
  stroke-dashoffset: 58.82;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-67 {
  stroke-dashoffset: 57.09;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-68 {
  stroke-dashoffset: 55.36;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-69 {
  stroke-dashoffset: 53.63;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-70 {
  stroke-dashoffset: 51.9;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-71 {
  stroke-dashoffset: 50.17;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-72 {
  stroke-dashoffset: 48.44;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-73 {
  stroke-dashoffset: 46.71;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-74 {
  stroke-dashoffset: 44.98;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-75 {
  stroke-dashoffset: 43.25;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-76 {
  stroke-dashoffset: 41.52;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-77 {
  stroke-dashoffset: 39.79;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-78 {
  stroke-dashoffset: 38.06;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-79 {
  stroke-dashoffset: 36.33;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-80 {
  stroke-dashoffset: 34.6;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-81 {
  stroke-dashoffset: 32.87;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-82 {
  stroke-dashoffset: 31.14;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-83 {
  stroke-dashoffset: 29.41;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-84 {
  stroke-dashoffset: 27.68;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-85 {
  stroke-dashoffset: 25.95;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-86 {
  stroke-dashoffset: 24.22;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-87 {
  stroke-dashoffset: 22.49;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-88 {
  stroke-dashoffset: 20.76;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-89 {
  stroke-dashoffset: 19.03;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-90 {
  stroke-dashoffset: 17.3;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-91 {
  stroke-dashoffset: 15.57;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-92 {
  stroke-dashoffset: 13.84;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-93 {
  stroke-dashoffset: 12.11;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-94 {
  stroke-dashoffset: 10.38;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-95 {
  stroke-dashoffset: 8.65;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-96 {
  stroke-dashoffset: 6.92;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-97 {
  stroke-dashoffset: 5.19;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-98 {
  stroke-dashoffset: 3.46;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-99 {
  stroke-dashoffset: 1.73;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle.percent-100 {
  stroke-dashoffset: 0;
}
.progress-chart-container .no-progress {
  height: 70px;
  width: 70px;
  background-color: #eee;
  border-radius: 50%;
  position: relative;
}
.progress-chart-container .no-progress .icon,
.progress-chart-container .no-progress .smallicon {
  position: absolute;
  top: 50%;
  /*rtl:ignore*/
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-45%, -45%);
  color: #fff;
  height: 35px;
  width: 35px;
}

.local-my-course-availablecourses {
    line-height: 35px;
}

.local-my-fp-progression {
    left: -1px;
}