

<!-- local_my/admin_stats_module -->
<div class="block block-{{area}}">
    <div class="header">
        <div class="title">
            <h2>{{modulename}}</h2>
        </div>
    </div>

    <div class="content">
    {{{site_stats}}}
    </div>
</div>
<!-- /local_my/admin_stats_module -->