

<!-- local_my/assignments_to_submit -->
{{#hasassignments}}
<div class="sektor-assigments-to-submit indicator {{collapseclass}}">
    {{{assignicon}}}<b>:</b>&nbsp;&nbsp; <div class="sektor-image" id="sektor-assignments-{{id}}" title="{{#str}}assignmentstosubmit, local_my{{/str}}"></div>
    {{{assignmentstosubmit}}}
</div>
{{/hasassignments}}
<!-- /local_my/assignments_to_submit -->