

<!-- local_my/authored_courses_module -->
{{^hideifempty}}
<div class="block block_my_authored_courses">
    <div class="header">
        <div class="title">
            <h2>{{#str}}myauthoringcourses, local_my{{/str}}</h2>
        </div>
    </div>

    {{#debuginfo}}
    <pre>
    {{debuginfo}}
    </pre>
    {{/debuginfo}}

    <div class="content">

        {{{buttons}}}

{{/hideifempty}}
{{#hascourses}}
        <table id="myauthoredcourselist" width="100%" class="generaltable courselist">
            <tr valign="top">
                <td>

                    {{{overviewedcourses}}}

                    {{{simplecourses}}}

                    {{#debuginfo}}
                    <pre>
                    {{debuginfo}}
                    </pre>
                    {{/debuginfo}}
                </td>
            </tr>
        </table>
{{/hascourses}}

{{^hideifempty}}
    {{^hascourses}}
    {{{nocourses}}}
    {{/hascourses}}

    </div>
</div>
{{/hideifempty}}
<!-- /local_my/authored_courses_module -->
