

<!-- local_my/authored_courses_module -->

{{#debuginfo}}
<pre>
{{debuginfo}}
</pre>
{{/debuginfo}}

<div class="block block_my_authored_courses">
    <div class="header">
        <div class="title">
            <h2>{{#str}}myauthoringcourses, local_my{{/str}}</h2>
        </div>
    </div>

    {{#buttons}}
    <div class="course-buttons">
        {{{buttons}}}
    </div>
    {{/buttons}}

    {{^hascourses}}
    <div class="content">
        {{{nocourses}}}
    </div>
    {{/hascourses}}

    {{#hascourses}}
    {{#aslist}}
    <ul class="content courselist {{#isaccordion}}is-accordion{{/isaccordion}}">
        {{> local_my/course_with_categories}}
    </ul>
    {{/aslist}}

    {{#asflatlist}}
    <ul class="course-list">
        {{#courses}}
        {{> local_my/courserow}}
        {{/courses}}
    </ul>
    {{/asflatlist}}

    {{#asgrid}}
    <div class="content course-grid">
        {{#courses}}
        {{> local_my/coursebox}}
        {{/courses}}
    </div>
    {{/asgrid}}
    {{/hascourses}}
</div>
<!-- /local_my/authored_courses_module -->
