


<!-- available_courses_module -->
<div class="block block_my_available_courses">
    {{{availablecourses}}}

    {{#hastoomany}}
    <div class="local-my-overcount">
        <a href="{{{allcoursesurl}}}">{{seeallliststr}}</a>
    </div>
    {{/hastoomany}}

</div>
<!-- /available_courses_module -->