

<!-- local_my/block -->

{{#error}}
<div class="block">
    {{{errorbadblocknotification}}}
</div>
{{/error}}

{{^error}}
<div class="block">
    <div class="header">';
        <div class="title">
            <h2>{{title}}</h2>
        </div>
    </div>

    <div class="content">
        {{{content}}}
    </div>
</div>
{{/error}}
<!-- /local_my/block -->