

<!-- local_my/categoryrow -->
<li class="local-my-category local-my-category-{{area}} cat-{{area}}-{{id}}">
    <div class="category-line">
        <a class="{{cstyle}}" href="{{{categoryurl}}}" >{{name}}</a>
    </div>
</li>
<!-- /local_my/categoryrow -->
