

<!-- course_overview -->
<div class="courselist">

{{#course}}
    <div class="local-my-course-overview">

        {{#showprogression}}
        <div class="local-my-progress">
            {{{progression}}}
        </div>
        {{/showprogression}}

        {{{coursediv}}}

</div>
{{/course}}

</div>
<!-- /course_overview -->
