

<!-- local_my/courserow -->
<div class="course-summaryitem m-b-1 p-3 local-my-course local-my-course-{{area}} local-my-course cat-{{area}}-{{catid}}" role="listitem"
    data-region="course-content"
    data-course-id="3"
    data-shortname="{{shortname}}"
    data-idnumber="{{idnumber}}">
    <div class="d-flex">

        {{^shortdisplay}}
        <a href="{{{courseurl}}}" tabindex="-1">
            <div class="summaryimage rounded-circle m-r-1" style="background-image: url({{{imgurl}}});">
                <span class="sr-only">Image du cours</span>
            </div>
        </a>

        <div class="align-self-stretch d-flex flex-column w-100">
        {{/shortdisplay}}
        {{#shortdisplay}}
        <div class="justify-content-between d-flex flex-row w-100">
        {{/shortdisplay}}

            <div class="d-flex mb-1">
                <div>
                    <a href="{{{courseurl}}}" class="coursename">
                        <span class="sr-only">
                            {{#str}}coursename, local_my{{/str}}
                        </span>
                        <h6 class="d-inline h5">{{{fullname}}} &nbsp;&nbsp;{{{favoritectl}}}</h6>
                    </a>
                </div>
            </div>

            {{^shortdisplay}}
            <div class="summary">
                <span class="sr-only">{{#str}}summary, local_my{{/str}}</span>
                {{{summary}}}
            </div>
            {{/shortdisplay}}

            <div class="ml-auto w-50">
                <div class="local-my-fp-learning-indicators-line">

                    {{#hasteachingrole}}
                    <div class="enrolled-students {{collapseclass}}">
                        <i class="fa fa-users enrolled-students" title="{{#str}}enrolled, local_my{{/str}}"> {{enrolled}}</i>
                    </div>
                    {{/hasteachingrole}}

                    {{#hasprogression}}
                    {{> local_my/courseprogression_sektor}}
                    {{/hasprogression}}

                    {{#isstudent}}
                    {{> local_my/assignments_to_submit}}
                    {{> local_my/quiz_to_perform}}
                    {{/isstudent}}

                    {{#hasteachingrole}}
                    {{! > local_my/missing_assign_submissions}}
                    {{! > local_my/unattempted_quiz_users}}
                    {{/hasteachingrole}}

                    {{#caneditclass}}
                    <div class="can-edit {{collapseclass}}" style="margin-right:20px">
                        <i class="fa fa-pencil fa-fw" aria-label="{{#str}}caneditcourse, local_my{{/str}}"></i>
                    </div>
                    {{/caneditclass}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /local_my/courserow -->
