

<!-- local_my/course_slider_module -->

{{#debuginfo}}
<pre>
{{debuginfo}}
</pre>
{{/debuginfo}}

<div class="block block_{{widgetname}}}">

    <div class="header">
        <div class="title">
            <h2>{{courselisttitlestr}}</h2>
        </div>
    </div>

    <div class="content">

        {{{buttons}}}

{{^hascourses}}
        {{{nocourses}}}
{{/hascourses}}

{{#hascourses}}
        {{{courseslider}}}
{{/hascourses}}

    </div>
</div>
<!-- /local_my/course_slider_module -->
