

<!-- local_my/courseareas_module -->

{{#debuginfo}}
<pre>
{{debuginfo}}
</pre>
{{/debuginfo}}

<div class="courseareas-skip-links">
    {{#courseareas}}
    <a class="sr-only sr-only-focussable" href="#local-my-coursearea-{{i}}">{{catname}}</a>
    {{/courseareas}}
</div>

<div class="mycourseareas">

    {{#courseareas}}

    <div id="local-my-coursearea-{{i}}" class="block coursearea">

        <div class="header">
            <div class="title">
                <h2>{{catname}}</h2>
            </div>
        </div>

        <div id="courselistarea{{i}}">
            {{#aslist}}
            <div class="content" data-resolved="aslist">
                <ul class="course-list {{#isaccordion}}is-accordion{{/isaccordion}}">
                    {{> local_my/courses_with_categories}}
                </ul>
            </div>
            {{/aslist}}

            {{#asflatlist}}
            <div class="content" data-resolved="asflatlist">
                <ul class="course-list">
                    {{#courses}}
                    {{> local_my/courserow}}
                    {{/courses}}
                </ul>
            </div>
            {{/asflatlist}}

            {{{availables}}}
        </div>

    </div>
    {{/courseareas}}

</div>
<!-- /local_my/courseareas_module -->
