

<!-- local_my/course_with_categories -->

{{#hascategories}}
{{^isaccordion}}
<div class="course-category-ctls">
    <a class="local-my-area-ctls" id="local-my-cats-collapseall-{{area}}">{{#str}}collapseall, local_my{{/str}}</a>
    <a class="local-my-area-ctls" id="local-my-cats-expandall-{{area}}">{{#str}}expandall, local_my{{/str}}</a>
    <span id="local-my-areacategories-{{area}}" style="display:none">{{catidlist}}</span>
</div>
{{/isaccordion}}
{{/hascategories}}

{{#categories}}
<li id="local-my-cathandle-{{area}}-{{catid}}" class="course-category {{catstyle}} local-my-cat-collapse local-my-cat-collapse-{{area}}">
    <h3><a href="#" class="local-my-catlink" aria-haspopup="true" aria-expanded="{{ariaexpanded}}">{{catname}}</a></h3>
</li>
<ul class="course-category-list">
    {{#courses}}
    {{> local_my/courserow}}
    {{/courses}}
</ul>
{{/categories}}
<!-- /local_my/course_with_categories -->
