

<!-- local_my/course_with_categories -->

{{#hascategories}}
{{^isaccordion}}
<div class="course-category-ctls">
    <a class="local-my-area-ctls" id="local-my-cats-collapseall-{{area}}">{{collapseallstr}}</a> 
    <a class="local-my-area-ctls" id="local-my-cats-expandall-{{area}}">{{expandallstr}}</a>
    <span id="local-my-areacategories-{{area}}" style="display:none">{{catidlist}}</span>
</div>
{{/isaccordion}}
{{/hascategories}}

{{#categories}}

{{#catname}}
<div id="local-my-cathandle-{{area}}-{{catid}}" class="course-category {{catstyle}} local-my-cat-collapse local-my-cat-collapse-{{area}}">
    <h3 tabindex="0"><button aria-expanded="{{ariaexpanded}}"><img aria-hidden="true" src="{{{collapseiconurl}}}" /></button> {{catname}}</h3>
</div>
{{/catname}}

<ul class="course-category-list">
{{#courses}}
<li>
    <div class="local-my-course-{{area}} local-my-course cat-{{area}}-{{catid}} {{collapseclass}}">
        <a class="{{cstyle}}" href="{{{courseurl}}}">{{fullname}} {{{editingicon}}}</a>
    </div>

    {{> local_my/courseprogression_sektor}}
</li>
{{/courses}}
</ul>

{{/categories}}
<!-- /local_my/course_with_categories -->
