


<!-- local_my/coursebox -->
<div class="local-my-promowrap">
    <div class="local-my-fp-coursebox {{hiddenclass}} {{selfenrolclass}} {{guestenrolclass}}">
        <div class="local-my-fp-coursethumb">
            <div class="local-my-fp-courseinfo {{withopacityeffect}} {{withhaloeffect}}">
                <h3>
                    <a href="{{{courseurl}}}" data-toggle="tooltip" data-placement="bottom">
                        <img aria-hidden="true" src="{{{imgurl}}}">
                        <div class="coursetitle">{{trimtitle}}</div>
                        <div class="course-overlay">
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </div>
                     </a>
                </h3>
            </div>
            <div class="local-my-fp-summary">{{{summary}}}</div>

            <div class="attributes-container">
                <div class="local-my-fp-learning-indicators">
                    {{#hasteachingrole}}
                    <div class="indicator enrolled-students {{collapseclass}}">
                        <i class="fa fa-users enrolled-students" title="{{#str}}enrolled, local_my{{/str}}"> {{enrolled}}</i>
                    </div>
                    {{/hasteachingrole}}

                    {{#hasprogression}}
                    {{> local_my/courseprogression_sektor}}
                    {{/hasprogression}}

                    {{#isstudent}}
                    {{> local_my/assignments_to_submit}}
                    {{> local_my/quiz_to_perform}}
                    {{/isstudent}}

                    {{#hasteachingrole}}
                    {{#hasdetails}}
                    <div class="detail-control indicator">
                        <a  id="detail-handle-{{id}}" href="#" class="detail-handle" aria-expanded="false"><i class="fa fa-caret-down"></i></a>
                    </div>
                    {{/hasdetails}}
                    {{/hasteachingrole}}
                </div>
                {{#hasattributes}}
                <div class="local-my-fp-attributes">
                    {{{hiddenattribute}}}
                    {{{selfattribute}}}
                    {{{guestattribute}}}
                    {{{futureattribute}}}
                    {{{editingattribute}}}
                </div>
                {{/hasattributes}}

                {{#hasteachingrole}}
                {{#hasdetails}}
                <div id="details-indicators-{{id}}" class="details" style="display: none">
                    {{> local_my/missing_assign_submissions}}
                    {{> local_my/unattempted_quiz_users}}
                </div>
                {{/hasdetails}}
                {{/hasteachingrole}}
            </div>

        </div>

    </div>

</div>
<!-- /local_my/coursebox -->