


<!-- coursetablerow -->
<tr valign="top">
    <td class="courserow">
        {{{editingicon}}}

        <a class="courselink" href="{{{courseurl}}}">{{{fullname}}}</a>

        {{#hasdescription}}
        <p class="coursedescription">{{{summary}}}</p>
        {{/hasdescription}}
    </td>

    {{> local_my/courseprogression}}

</tr>
<!-- /coursetablerow -->
