


<!-- local_my/courseprogression_sektor -->
{{#hasprogression}}
<div class="course-completion">
<div class="sektor-image" id="sektor-progress-{{id}}"></div> {{{progression}}} %
</div>
{{/hasprogression}}
<!-- /local_my/courseprogression_sektor -->
