


<!-- local_my/courseprogression_sektor -->
{{#hasprogression}}
<div class="sektor-course-completion {{collapseclass}}">
    <div class="sektor-image" id="sektor-progress-{{id}}" title="{{#str}}coursecompletion, completion{{/str}}"></div> {{{progression}}} %
</div>
{{/hasprogression}}
<!-- /local_my/courseprogression_sektor -->
