

{{!
    Indirect call by my_course_module.mustache.
}}
<!-- local_my/coursebox-loading-placeholder -->
<div class="local-my-promowrap">
    <div class="local-my-fp-coursebox {{hiddenclass}} {{selfenrolclass}} {{guestenrolclass}} {{withopacityeffect}} {{withhaloeffect}}" {{{heightstyle}}}>
        <div class="local-my-fp-coursethumb">
            <div class="local-my-fp-courseinfo">
                <h3>
                    <div class="coursethumb bg-pulse-grey w-100" style="height:150px;margin-bottom:10px"></div>
                    <div class="coursetitle bg-pulse-grey" style="height:15px; width: 130px"></div>
                    <div class="course-overlay">
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </div>
                    <i class="fa fa-star-o far" aria-hidden="true"></i>
                </h3>
            </div>
            <div class="local-my-fp-summary bg-pulse-grey" style="width:100%; height:4em"></div>
        </div>

        {{#hasindicators}}
        {{> local_my/indicators-loading_placeholder}}
        {{/hasindicators}}

    </div>

</div>
<!-- /local_my/coursebox-loading_placeholder -->