

<!-- local_my/courserow-loading_placeholder -->
<li class="local-my-course local-my-course-{{area}} local-my-course cat-{{area}}-{{catid}} {{collapseclass}}" data-shortname="{{shortname}}" data-idnumber="{{idnumber}}">
    <div class="course-line" style="margin-bottom:20px">
        <div class="bg-pulse-grey" style="height:20px;width:40em;display:inline-block"></div> <i class="fa fa-star-o far"></i>
        <div class="local-my-fp-learning-indicators-line">
            <div class="enrolled-students {{collapseclass}}">
                <i class="fa fa-users enrolled-students" title="{{#str}}enrolled, local_my{{/str}}"> 0</i>
            </div>

            <div class="bg-pulse-grey rounded-circle" title="{{coursecompletionstr}}"style="height: 32px; width: 32px;"></div>
        </div>
    </div>
</li>
<!-- /local_my/courserow-loading_placeholder -->
