


<!-- course_slider -->
<div class="custom-courses-list">
    <div class="container-fluid">
        <div data-crow="{{totalfcourse}}">

            <div>
                <div class="row-fluid local-my-carousel">

                    {{#courses}}
                    {{> local_my/coursebox}}
                    {{/courses}}

                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- /course_slider -->
