


<!-- local_my/coursetablerow -->
<tr valign="top">
    <td class="courserow">
        {{{editingicon}}}

        {{#cid}}
        <span class="local-my-course-id">{{cid}}</span>
        {{/cid}}
        <a class="courselink" href="{{{courseurl}}}">{{{fullname}}}</a>

        {{#hasdescription}}
        <p class="coursedescription">{{{summary}}}</p>
        {{/hasdescription}}
    </td>

    {{> local_my/courseprogression}}

</tr>
<!-- /local_my/coursetablerow -->
