

<!-- local_my/course_with_categories-loading-placeholder -->
<li id="local-my-cathandle-{{area}}-{{catid}}" class="course-category {{catstyle}} local-my-cat-collapse local-my-cat-collapse-{{area}}">
    <h3><div class="bg-pulse_grey" style="width:150px;height:22px" ></h3>
</li>
<ul class="course-category-list">
    {{> local_my/courserow-loading_placeholder}}
    {{> local_my/courserow-loading_placeholder}}
    {{> local_my/courserow-loading_placeholder}}
</ul>

<li id="local-my-cathandle-{{area}}-{{catid}}" class="course-category {{catstyle}} local-my-cat-collapse local-my-cat-collapse-{{area}}">
    <h3><div class="bg-pulse_grey" style="width:150px;height:22px" ></h3>
</li>
<ul class="course-category-list">
    {{> local_my/courserow-loading_placeholder}}
    {{> local_my/courserow-loading_placeholder}}
    {{> local_my/courserow-loading_placeholder}}
</ul>

<!-- /local_my/course_with_categories-loading-placeholder -->
