

<!-- local_my/courseareas_module -->

{{#debuginfo}}
<pre>
{{debuginfo}}
</pre>
{{/debuginfo}}

<div class="courseareas-skip-links">
{{#courseareas}}
<a class="sr-only sr-only-focussable" href="#local-my-coursearea-{{i}}">{{catname}}</a>
{{/courseareas}}
</div>

<div class="mycourseareas">

    {{#courseareas}}

    <div id="local-my-coursearea-{{i}}" class="coursearea">

        <div class="headingblock header">
            <h2>{{catname}}</h2>
        </div>

        <div id="courselistarea{{i}}" class="courselist {{#isaccordion}}is-accordion{{/isaccordion}}">
            {{{courseoverview}}}

            {{{coursesbycats}}}

            {{{availables}}}
        </div>

    </div>
    {{/courseareas}}

</div>
<!-- /local_my/courseareas_module -->
