

<!-- local_my/course_slider_module -->

{{#debuginfo}}
<pre>
{{debuginfo}}
</pre>
{{/debuginfo}}

<div class="block block_{{widgetname}}}">

    <div class="header">
        <div class="title">
            <h2>{{courselisttitlestr}}</h2>
        </div>
    </div>

    <div class="content">

        {{{buttons}}}

        {{^hascourses}}
        {{{nocourses}}}
        {{/hascourses}}

        {{#hascourses}}
        {{#courseslider}}
        <div class="custom-courses-list">
            <div class="container-fluid">
                <div data-crow="{{totalfcourse}}">

                    <div>
                        <div class="row-fluid local-my-carousel">

                            {{#courses}}
                            {{> local_my/coursebox}}
                            {{/courses}}

                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        {{/courseslider}}
        {{/hascourses}}

    </div>
</div>
<!-- /local_my/course_slider_module -->
