

<!-- local_my/course_categories_module -->
<div class="block block_{{area}} {{extraclasses}}" data-required="{{required}}" data-resolved="{{resolved}}" data-resolve-rule="{{rule}}">

    {{#debuginfo}}
    <pre>
    {{debuginfo}}
    </pre>
    {{/debuginfo}}

    <div class="header">
        <div class="title">
            <h2>{{modulename}}</h2>
        </div>
    </div>

    {{^hascategories}}
    <div class="content">
        {{{nocategories}}}
    </div>
    {{/hascategories}}

    {{#hascategories}}

    {{#asflatlist}}
    <div class="content">
        <ul class="category-list">
            {{#categories}}
            {{> local_my/categoryrow}}
            {{/categories}}
        </ul>
    </div>
    {{/asflatlist}}

    {{#asgrid}}
    <div class="content category-grid">
        {{#categories}}
        {{> local_my/categorybox}}
        {{/categories}}
    </div>
    {{/asgrid}}

    {{#asslider}}
    <div class="content category-slider">
        <div class="container-fluid">
            <div data-crow="{{totalofcategories}}">

                <div>
                    <div class="row-fluid local-my-carousel">

                        {{#categories}}
                        {{> local_my/categorybox}}
                        {{/categories}}

                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    {{/asslider}}

    {{/hascategories}}
</div>
<!-- /local_my/course_categories_module -->
