

<!-- local_my/full_me_module -->
<div class="no-block block_{{area}}">
    <div class="profilepicture" style="float:left;margin-right:20px">
        {{{userpicture}}}
    </div>

    <div class="local-my-username">
        <h1>{{username}}</h2>
    </div>

    <div id="local-my-me" width="70%">
        {{#inforows}}
        <div>
            <div class="local-my-label c0">
                {{label}}
            </div>
            <div class="local-my-value c1">
                {{value}}
            </div>
        <div>
        {{/inforows}}
    </div>
</div>
<!-- local_my/full_me_module -->
