


<!-- local_my/my_heatmap -->
<div class="block block-{{area}}">

    <div class="header">
        <div class="title">
            <h2 >{{modulename}}</h2>
        </div>
    </div>

    <div class="content">

        <script type="text/javascript" src="{{{wwwroot}}}/local/my/js/d3/d3.v3.min.js"></script>
        <link rel="stylesheet" href="{{{wwwroot}}}/local/my/js/d3/heatmap/cal-heatmap.css" />
        <script type="text/javascript" src="{{{wwwroot}}}/local/my/js/d3/heatmap/cal-heatmap.min.js"></script>

        <div id="cal-heatmap" style=";margin-top:10px;"></div>

            <script type="text/javascript">
            var monthnames = {{{monthnames}}};
            var cal = new CalHeatMap();
            var startdate = new Date({{startmilli}});
            cal.init({
                domain:"month",
                subdomain:"day",
                start:startdate,
                data:"{{{dataurl}}}",
                legendTitleFormat:{{{jsonlegendformat}}},
                subDomainTitleFormat:{{{jsonsubdomainformat}}},
                itemName:"{{itemname}}",
                subDomainDateFormat:
                function(date) {
                    return date.toLocaleDateString();
                },
                domainLabelFormat: function(date) {
                    return monthnames[date.getMonth()];
                },
                range:{{localmyheatmaprange}}

            });
            </script>
        </div>
    <div>
</div>
<!-- /local_my/my_heatmap -->