
{{!
In use in "pro" versions only.
}}
<!-- local_my/indicators -->
<div class="attributes-container">
    <div class="local-my-fp-learning-indicators">
        {{#hasteachingrole}}
        <div class="indicator enrolled-students {{collapseclass}}">
            <i class="fa fa-users enrolled-students" title="{{#str}}enrolled, local_my{{/str}}"> {{enrolled}}</i>
        </div>
        {{/hasteachingrole}}

        {{#hasprogression}}
        {{> local_my/courseprogression_sektor}}
        {{/hasprogression}}

        {{^hasteachingrole}}
        {{#isstudent}}
        {{> local_my/assignments_to_submit}}
        {{> local_my/quiz_to_perform}}
        {{/isstudent}}
        {{/hasteachingrole}}

        {{#hasteachingrole}}
        {{#hasdetails}}
        <div class="detail-control indicator">
            <a  id="detail-handle-{{id}}" href="#" class="detail-handle" aria-expanded="false"><i class="fa fa-caret-down"></i></a>
        </div>
        {{/hasdetails}}
        {{/hasteachingrole}}
    </div>

    {{#hasattributes}}
    <div class="local-my-fp-attributes">
        {{{hiddenattribute}}}
        {{{selfattribute}}}
        {{{guestattribute}}}
        {{{futureattribute}}}
        {{{editingattribute}}}
    </div>
    {{/hasattributes}}

    {{#hasteachingrole}}
    {{#hasdetails}}
    <div id="details-indicators-{{id}}" class="details" style="display: none">
        {{> local_my/missing_assign_submissions}}
        {{> local_my/unattempted_quiz_users}}
    </div>
    {{/hasdetails}}
    {{/hasteachingrole}}
</div>
<!-- /local_my/indicators -->

