
{{!
In use in "pro" versions only.
}}
<!-- local_my/indicators-loading_placeholder -->
<div class="attributes-container">
    <div class="local-my-fp-learning-indicators">
        <div class="indicator enrolled-students {{collapseclass}}">
            <i class="fa fa-users enrolled-students" title="{{#str}}enrolled, local_my{{/str}}"> 0</i>
            <i class="fa fa-users enrolled-students" title="{{#str}}enrolled, local_my{{/str}}"> 0</i>
            <div class="bg-pulse-grey" style="width:40px;height:15px"></div>
            <div class="bg-pulse-grey" style="width:40px;height:15px;margin-left:10px"></div>
        </div>
    </div>
</div>
<!-- /local_my/indicators-loading_placeholder -->

