

<!-- managed_courses_module -->
{{^hideifempty}}
<div class="block block_my_managed_courses">
    <div class="header">
        <div class="title">
            <h2>{{mymanagedcoursesstr}}</h2>
        </div>
    </div>

    <div class="content">

        {{{buttons}}}

{{/hideifempty}}
{{#hascourses}}
        <table id="mymanagedcourselist" width="100%" class="generaltable courselist">
            <tr valign="top">
                <td>

                    {{{overviewedcourses}}}

                    {{{simplecourses}}}

                    {{#debuginfo}}
                    <pre>
                    {{debuginfo}}
                    </pre>
                    {{/debuginfo}}
                </td>
            </tr>
        </table>
{{/hascourses}}

{{^hideifempty}}
    {{^hascourses}}
    {{{nocourses}}}
    {{/hascourses}}

    </div>
</div>
{{/hideifempty}}
<!-- /managed_courses_module -->
