

<!-- local_my/me -->
<div class="local-my-userprofilebox clearfix">

    <div class="profilepicture" style="float:left;margin-right:20px">
        {{{userpicture}}}
    </div>

    <div class="username">
        <h1>{{username}}</h1>
    </div>
</div>
<!--/local_my/me -->