

<!-- local_my/missing_assign_submissions -->
{{#hasassignments}}
<div class="sektor-missing-assign-submissions {{collapseclass}}">
    {{{assignicon}}}<b>:</b>&nbsp;&nbsp; <div class="sektor-image" id="sektor-missing-submissions-{{id}}" title="{{#str}}pendingassignsto submit, local_my{{/str}}"></div> {{{assignmentstosubmit}}}
</div>
{{/hasassignments}}
<!-- /local_my/missing_assign_submissions -->