

<!-- local_my/missing_assign_submissions -->
{{#hasassignments}}
<div class="sektor-missing-assign-submissions indicator {{collapseclass}}">
    {{{assignicon}}}<b>:</b>&nbsp;&nbsp; <div class="sektor-image" id="sektor-missing-submissions-{{id}}" title="{{#str}}pendingassignstosubmit, local_my{{/str}}"></div> {{{completeassignratio}}} %

    &nbsp;&nbsp; {{{assigntosubmiticon}}} {{assignmentstosubmit}}
</div>

{{/hasassignments}}
<!-- /local_my/missing_assign_submissions -->