

<!-- local_my/my_courses -->
{{#debuginfo}}
<pre>
{{debuginfo}}
</pre>
{{/debuginfo}}
<div class="block block_my_courses">

    <div class="header">
        <div class=title">
            <h2>{{mycoursesstr}}</h2>
        </div>
    </div>

    <div class="content">

{{^hascourses}}
        {{{nocourses}}}
{{/hascourses}}

{{#hascourses}}

        <table width="100%" class="courselist generaltable {{#isaccordion}}is-accordion{{/isaccordion}}">
            <tr valign="top">
                <td>
                    {{{overviewedcourses}}}

                    {{{simplecourses}}}

                </td>
            </tr>
        </table>
{{/hascourses}}
    </div>
</div>
<!-- /local_my/my_courses -->
