



<!-- local_my/my_templates_module -->

{{#debuginfo}}
<pre>
{{debuginfo}}
</pre>
{{/debuginfo}}

<div class="block block_{{area}}">
    <div class="header">
        <div class="title">
            <h2>{{#str}}{{modulename}}, local_my{{/str}}</h2>
        </div>
    </div>

    <div class="content">

        <div class="right-button">
            {{{button}}}
        </div>

        {{{templates}}}

    </div>
</div>

<!-- /local_my//my_templates_module -->