


<!-- local_my/quiz_to_perform -->
{{#hasquizspending}}
<div class="sektor-quizzes-to-perform indicator {{collapseclass}}">
    {{{quizicon}}}<b>:</b>&nbsp;&nbsp; <div class="sektor-image" id="sektor-quizs-{{id}}" title="{{#str}}quiztoperform, local_my{{/str}}"></div>
    {{{quizzes}}}
</div>
{{/hasquizspending}}
<!-- /local_my/quiz_to_perform -->