


<!-- local_my/quiz_to_perform -->
{{#hasquizzes}}
<div class="sektor-quizzes-to-perform {{collapseclass}}">
    <div class="sektor-image" id="sektor-quizzes-{{id}}" title="{{#str}}quiztoperform, local_my{{/str}}"></div> {{{quizzes}}}
</div>
{{/hasquizzes}}
<!-- /local_my/quiz_to_perform -->