



<!-- static_module -->

<div id="custommystaticarea-{{staticindex}}" class="local-my-statictext {{staticclass}}">

{{#isadminview}}
{{adminviewstr}}<br/>
{{/isadminview}}

{{^modalities}}
{{{statictext}}}
{{/modalities}}

{{#isadminview}}
<div id="local-my-static-ctl-{{index}}" class="editing local-my-statictext-ctl">
    {{{modalitiesselect}}}
</div>
{{/isadminview}}

{{#modalities}}

<div id="local-my-static-modal-{{modalindex}}" class="local-my-statictext-modals {{visibilityclass}}">
    {{#isadminview}}
    <div class="staticareaname">
        {{{contentforstr}}}
    </div>
    {{/isadminview}}

    <div class="content" id="local-my-static-content-{{modalindex}}">
        {{{statictext}}}
    </div>
</div>
{{/modalities}}

</div>
<!-- /static_module -->