

<!-- local_my/unattempted_quiz_users -->
{{#hasquizspending}}
<div class="sektor-unattempted-quiz-users {{collapseclass}}">
    {{{quizicon}}}<b>:</b>&nbsp;&nbsp; <div class="sektor-image" id="sektor-unattempted-quiz-users-{{id}}" title="{{#str}}uncompletequizusersratio, local_my{{/str}}"></div>
    {{{completeusersratio}}} %

    &nbsp;&nbsp;&nbsp;<i class="fa fa-users" title="{{#str}}uncompletequizusers, local_my{{/str}}"> {{{uncompleteusers}}}</i>
</div>
{{/hasquizspending}}
<!-- /local_my/unattempted_quiz_users -->