

<!-- local_my/unattempted_quiz_users -->
{{#hasquizs}}
<div class="sektor-unattempted-quiz-users {{collapseclass}}">
    {{{quizicon}}}: <div class="sektor-image" id="sektor-unattempted-quiz-users-{{id}}" title="{{#str}}unattemptedquizusers, local_my{{/str}}"></div> {{{unattemptedquizusers}}}
</div>
{{/hasquizs}}
<!-- /local_my/unattempted_quiz_users -->